.customCard:focus,
.customCard-xl:focus {
  outline: none;
}

.customCard {
  position: relative;
  background-color: #3c4959;
  width: 282px;
  height: 385px;
  margin: 10px auto 10px auto;
  text-align: center;
  border-radius: 20px;
}

.customCard-xl {
  position: relative;
  background-color: #3c4959;
  width: 333px;
  height: 556px;
  margin: 10px auto 10px auto;
  text-align: center;
  border-radius: 20px;
}

.customCard:hover {
  background-color: #5f7d8e;
}

.customCard img {
  margin: 10px;
  width: 262px;
  height: 365px;
  border-radius: 20px;
}

.customCard-xl img {
  margin: 10px;
  width: 313px;
  height: 536px;
  border-radius: 20px;
}

.customCardDetail {
  position: absolute;
  bottom: -10px;
  width: 282px;
  height: 385px;
  margin: 10px auto 10px auto;
  background-color: #3c4959;
  opacity: 0.9;
  text-align: center;
  border-radius: 20px;
}

.customCardDetail-xl {
  position: absolute;
  bottom: -10px;
  width: 333px;
  height: 556px;
  margin: 10px auto 10px auto;
  background-color: #3c4959;
  opacity: 0.9;
  text-align: center;
  border-radius: 20px;
}

.customCardDetail span,
.customCardDetail-xl span {
  color: white;
}

.customCardDetail .cardName {
  width: 282px;
  height: 50px;
  text-align: center;
  padding-top: 30px;
  font-size: 20px;
}

.customCardDetail .cardType {
  position: absolute;
  bottom: 0px;
  width: 282px;
  height: 225px;
  text-align: center;
  font-size: 12px;
  padding-top: 5px;
}

.customCardDetail .cardDescription {
  position: absolute;
  bottom: 0px;
  width: 282px;
  height: 100px;
  text-align: center;
  font-size: 12px;
  background-color: #3c4959;
  opacity: 1 !important;
  border-radius: 20px;
  padding: 25px 37px;
}

.customCardDetail-xl .cardName {
  width: 333px;
  height: 100px;
  text-align: center;
  padding-top: 30px;
  font-size: 20px;
}

.customCardDetail-xl .cardType {
  position: absolute;
  bottom: 0px;
  width: 333px;
  height: 350px;
  text-align: center;
  font-size: 12px;
  padding-top: 5px;
}

.customCardDetail-xl .cardDescription {
  position: absolute;
  bottom: 0px;
  width: 333px;
  height: 210px;
  text-align: center;
  font-size: 12px;
  background-color: #3c4959;
  opacity: 1 !important;
  border-radius: 20px;
  padding: 13px 30px;
}

.addDeck {
  opacity: 1;
  outline: none !important;
}
